@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Quicksand";
    font-weight: 400;
    src: url("../fonts/Quicksand/static/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Quicksand";
    font-weight: 500;
    src: url("../fonts/Quicksand/static/Quicksand-SemiBold.ttf");
}

@font-face {
    font-family: "Quicksand";
    font-weight: 700;
    src: url("../fonts/Quicksand/static/Quicksand-Bold.ttf");
}

#hero{
    background: url("../img/diano.jpg") top center no-repeat;
    background-size: cover;
}

.typed-cursor{
    font-size: 1.875rem;
    line-height: 2.25rem;
}

#btn-top {
    display: none;
    position: fixed;
}

.swap-projects{
    grid-template-columns: 1fr;
}

/* Halloween custom */
[data-theme="halloween"] .halloween-content {
    display: block;
}

[data-theme="halloween"] .normal-content {
    display: none;
}
