@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("../fonts/Open_Sans/static/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

#hero {
  background: url("../img/diano.jpg") top center no-repeat;
  background-size: cover;
}

.typed-cursor {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#btn-top {
  display: none;
  position: fixed;
}

.swap-projects {
  grid-template-columns: 1fr;
}

/* Halloween custom */
[data-theme="halloween"] .halloween-content {
  display: block;
}

[data-theme="halloween"] .normal-content {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
